In [3]:
import pandas as pd

## Reading the DataSets

In [4]:
nycpayroll_2020_df = pd.read_csv(r'Raw_DataSet\Raw_nycpayroll_2020.csv')
nycpayroll_2021_df = pd.read_csv(r'Raw_DataSet\Raw_nycpayroll_2021.csv')
AgencyMaster_df = pd.read_csv(r'Raw_DataSet\Raw_AgencyMaster.csv')
EmpMaster_df = pd.read_csv(r'Raw_DataSet\Raw_EmpMaster.csv')
TitleMaster_df = pd.read_csv(r'Raw_DataSet\Raw_TitleMaster.csv')

In [5]:
TitleMaster_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1446 entries, 0 to 1445
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TitleCode         1446 non-null   int64
 1   TitleDescription  1445 non-null   object
dtypes: int64(1), object(1)
memory usage: 22.7+ KB

In [6]:
AgencyMaster_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AgencyID    153 non-null    int64
 1   AgencyName  153 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.5+ KB

In [7]:
nycpayroll_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FiscalYear             100 non-null    int64
 1   PayrollNumber          100 non-null    int64
 2   AgencyID               100 non-null    int64
 3   AgencyName             100 non-null    object
 4   EmployeeID             100 non-null    int64
 5   LastName               100 non-null    object
 6   FirstName              100 non-null    object
 7   AgencyStartDate        100 non-null    object
 8   WorkLocationBorough    100 non-null    object
 9   TitleCode              100 non-null    int64
 10  TitleDescription       100 non-null    object
 11  LeaveStatusasofJune30  100 non-null    object
 12  BaseSalary             100 non-null    float64
 13  PayBasis               100 non-null    object
 14  RegularHours           100 non-null    float64
 15  RegularGrossPaid       100 non-null    float64
 16  OTHours                100 non-null    float64
 17  TotalOTPaid            100 non-null    float64
 18  TotalOtherPay          100 non-null    float64
dtypes: float64(6), int64(5), object(8)
memory usage: 15.0+ KB

In [8]:
nycpayroll_2021_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FiscalYear             101 non-null    int64
 1   PayrollNumber          101 non-null    int64
 2   AgencyCode             101 non-null    int64
 3   AgencyName             101 non-null    object
 4   EmployeeID             101 non-null    int64
 5   LastName               101 non-null    object
 6   FirstName              101 non-null    object
 7   AgencyStartDate        101 non-null    object
 8   WorkLocationBorough    101 non-null    object
 9   TitleCode              101 non-null    int64
 10  TitleDescription       101 non-null    object
 11  LeaveStatusasofJune30  101 non-null    object
 12  BaseSalary             101 non-null    float64
 13  PayBasis               101 non-null    object
 14  RegularHours           101 non-null    int64
 15  RegularGrossPaid       101 non-null    float64
 16  OTHours                101 non-null    float64
 17  TotalOTPaid            101 non-null    float64
 18  TotalOtherPay          101 non-null    float64
dtypes: float64(5), int64(6), object(8)
memory usage: 15.1+ KB

## CLEANING AND TRANSFORMATION

In [9]:
# Rename 'AgencyID' in 2020 data to 'AgencyCode' to match 2021 data
nycpayroll_2020_df.rename(columns={'AgencyID': 'AgencyCode'}, inplace=True)

In [10]:
nycpayroll_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FiscalYear             100 non-null    int64
 1   PayrollNumber          100 non-null    int64
 2   AgencyCode             100 non-null    int64
 3   AgencyName             100 non-null    object
 4   EmployeeID             100 non-null    int64
 5   LastName               100 non-null    object
 6   FirstName              100 non-null    object
 7   AgencyStartDate        100 non-null    object
 8   WorkLocationBorough    100 non-null    object
 9   TitleCode              100 non-null    int64
 10  TitleDescription       100 non-null    object
 11  LeaveStatusasofJune30  100 non-null    object
 12  BaseSalary             100 non-null    float64
 13  PayBasis               100 non-null    object
 14  RegularHours           100 non-null    float64
 15  RegularGrossPaid       100 non-null    float64
 16  OTHours                100 non-null    float64
 17  TotalOTPaid            100 non-null    float64
 18  TotalOtherPay          100 non-null    float64
dtypes: float64(6), int64(5), object(8)
memory usage: 15.0+ KB

In [11]:
# Convert 'AgencyStartDate' to datetime format in both datasets
nycpayroll_2020_df['AgencyStartDate'] = pd.to_datetime(nycpayroll_2020_df['AgencyStartDate'], errors='coerce')
nycpayroll_2021_df['AgencyStartDate'] = pd.to_datetime(nycpayroll_2021_df['AgencyStartDate'], errors='coerce')

In [12]:
print(nycpayroll_2021_df.columns)

Index(['FiscalYear', 'PayrollNumber', 'AgencyCode', 'AgencyName', 'EmployeeID',
       'LastName', 'FirstName', 'AgencyStartDate', 'WorkLocationBorough',
       'TitleCode', 'TitleDescription', 'LeaveStatusasofJune30', 'BaseSalary',
       'PayBasis', 'RegularHours', 'RegularGrossPaid', 'OTHours',
       'TotalOTPaid', 'TotalOtherPay'],
      dtype='object')

In [13]:

# Check for missing values in all datasets
print("Missing values in nycpayroll_2020_df:")
print(nycpayroll_2020_df.isnull().sum())

print("Missing values in nycpayroll_2021_df:")
print(nycpayroll_2021_df.isnull().sum())

print("Missing values in AgencyMaster_df:")
print(AgencyMaster_df.isnull().sum())

print("Missing values in EmpMaster_df:")
print(EmpMaster_df.isnull().sum())

print("Missing values in TitleMaster_df:")
print(TitleMaster_df.isnull().sum())

Missing values in nycpayroll_2020_df:
FiscalYear               0
PayrollNumber            0
AgencyCode               0
AgencyName               0
EmployeeID               0
LastName                 0
FirstName                0
AgencyStartDate          0
WorkLocationBorough      0
TitleCode                0
TitleDescription         0
LeaveStatusasofJune30    0
BaseSalary               0
PayBasis                 0
RegularHours             0
RegularGrossPaid         0
OTHours                  0
TotalOTPaid              0
TotalOtherPay            0
dtype: int64
Missing values in nycpayroll_2021_df:
FiscalYear               0
PayrollNumber            0
AgencyCode               0
AgencyName               0
EmployeeID               0
LastName                 0
FirstName                0
AgencyStartDate          0
WorkLocationBorough      0
TitleCode                0
TitleDescription         0
LeaveStatusasofJune30    0
BaseSalary               0
PayBasis                 0
RegularHours             0
RegularGrossPaid         0
OTHours                  0
TotalOTPaid              0
TotalOtherPay            0
dtype: int64
Missing values in AgencyMaster_df:
AgencyID      0
AgencyName    0
dtype: int64
Missing values in EmpMaster_df:
EmployeeID    0
LastName      0
FirstName     0
dtype: int64
Missing values in TitleMaster_df:
TitleCode           0
TitleDescription    1
dtype: int64

In [14]:
TitleMaster_df['TitleDescription'].fillna('Unknown', inplace=True)

In [15]:
# Convert numerical columns to appropriate data types
num_columns = ['BaseSalary', 'RegularHours', 'RegularGrossPaid', 'OTHours', 'TotalOTPaid', 'TotalOtherPay']

# Convert columns to numeric, coercing errors to NaN
nycpayroll_2020_df[num_columns] = nycpayroll_2020_df[num_columns].apply(pd.to_numeric, errors='coerce')
nycpayroll_2021_df[num_columns] = nycpayroll_2021_df[num_columns].apply(pd.to_numeric, errors='coerce')


# Output the missing values summary
nycpayroll_2020_df, nycpayroll_2020_df

(    FiscalYear  PayrollNumber  AgencyCode                      AgencyName  \
 0         2020             17        2120  OFFICE OF EMERGENCY MANAGEMENT
 1         2020             17        2120  OFFICE OF EMERGENCY MANAGEMENT
 2         2020             17        2120  OFFICE OF EMERGENCY MANAGEMENT
 3         2020             17        2120  OFFICE OF EMERGENCY MANAGEMENT
 4         2020             17        2120  OFFICE OF EMERGENCY MANAGEMENT
 ..         ...            ...         ...                             ...
 95        2020             19        2122   OFFICE OF MANAGEMENT & BUDGET
 96        2020             19        2122   OFFICE OF MANAGEMENT & BUDGET
 97        2020             19        2122   OFFICE OF MANAGEMENT & BUDGET
 98        2020             19        2122   OFFICE OF MANAGEMENT & BUDGET
 99        1998             19        2122   OFFICE OF MANAGEMENT & BUDGET

     EmployeeID    LastName  FirstName AgencyStartDate WorkLocationBorough  \
 0        10001      GEAGER   VERONICA      2016-09-12            BROOKLYN
 1       149612       ROTTA   JONATHAN      2013-09-16            BROOKLYN
 2       206583   WILSON II     ROBERT      2018-04-30            BROOKLYN
 3       199874  WASHINGTON     MORIAH      2019-03-18            BROOKLYN
 4        58036    KRAWCZYK     AMANDA      2017-05-15            BROOKLYN
 ..         ...         ...        ...             ...                 ...
 95       33054     HIGGINS      JAMES      1982-06-21           MANHATTAN
 96       19997   GREENBERG      DAVID      2008-07-14           MANHATTAN
 97       61906      LARSON  CHRISTINE      2005-12-25           MANHATTAN
 98       19003    GRATHWOL       JOHN      1988-09-27           MANHATTAN
 99       15188   GOLDSTEIN     JOSHUA      1999-01-04           MANHATTAN

     TitleCode                TitleDescription LeaveStatusasofJune30  \
 0       40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
 1       40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
 2       40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
 3       40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
 4       40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
 ..        ...                             ...                   ...
 95      40306        COMPUTER SYSTEMS MANAGER                ACTIVE
 96      40199                  BUDGET ANALYST                ACTIVE
 97      40199                  BUDGET ANALYST                ACTIVE
 98      40199                  BUDGET ANALYST                CEASED
 99      40199                  BUDGET ANALYST                ACTIVE

     BaseSalary   PayBasis  RegularHours  RegularGrossPaid  OTHours  \
 0      86005.0  per Annum        1820.0          84698.21      0.0
 1      86005.0  per Annum        1820.0          84698.21      0.0
 2      86005.0  per Annum        1820.0          84698.21      0.0
 3      86005.0  per Annum        1820.0          87900.95      0.0
 4      86005.0  per Annum        1820.0          83976.54      0.0
 ..         ...        ...           ...               ...      ...
 95    195826.0  per Annum        1820.0         192850.37      0.0
 96    196950.0  per Annum        1820.0         192107.94      0.0
 97    185843.0  per Annum        1820.0         183019.14      0.0
 98    216431.0  per Annum           0.0              0.00      0.0
 99    176785.0  per Annum        1820.0         174098.86      0.0

     TotalOTPaid  TotalOtherPay
 0           0.0           0.00
 1           0.0           0.00
 2           0.0           0.00
 3           0.0       -3202.74
 4           0.0           0.00
 ..          ...            ...
 95          0.0           0.00
 96          0.0         500.00
 97          0.0           0.00
 98          0.0      180605.85
 99          0.0           0.00

 [100 rows x 19 columns],
     FiscalYear  PayrollNumber  AgencyCode                      AgencyName  \
 0         2020             17        2120  OFFICE OF EMERGENCY MANAGEMENT
 1         2020             17        2120  OFFICE OF EMERGENCY MANAGEMENT
 2         2020             17        2120  OFFICE OF EMERGENCY MANAGEMENT
 3         2020             17        2120  OFFICE OF EMERGENCY MANAGEMENT
 4         2020             17        2120  OFFICE OF EMERGENCY MANAGEMENT
 ..         ...            ...         ...                             ...
 95        2020             19        2122   OFFICE OF MANAGEMENT & BUDGET
 96        2020             19        2122   OFFICE OF MANAGEMENT & BUDGET
 97        2020             19        2122   OFFICE OF MANAGEMENT & BUDGET
 98        2020             19        2122   OFFICE OF MANAGEMENT & BUDGET
 99        1998             19        2122   OFFICE OF MANAGEMENT & BUDGET

     EmployeeID    LastName  FirstName AgencyStartDate WorkLocationBorough  \
 0        10001      GEAGER   VERONICA      2016-09-12            BROOKLYN
 1       149612       ROTTA   JONATHAN      2013-09-16            BROOKLYN
 2       206583   WILSON II     ROBERT      2018-04-30            BROOKLYN
 3       199874  WASHINGTON     MORIAH      2019-03-18            BROOKLYN
 4        58036    KRAWCZYK     AMANDA      2017-05-15            BROOKLYN
 ..         ...         ...        ...             ...                 ...
 95       33054     HIGGINS      JAMES      1982-06-21           MANHATTAN
 96       19997   GREENBERG      DAVID      2008-07-14           MANHATTAN
 97       61906      LARSON  CHRISTINE      2005-12-25           MANHATTAN
 98       19003    GRATHWOL       JOHN      1988-09-27           MANHATTAN
 99       15188   GOLDSTEIN     JOSHUA      1999-01-04           MANHATTAN

     TitleCode                TitleDescription LeaveStatusasofJune30  \
 0       40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
 1       40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
 2       40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
 3       40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
 4       40447  EMERGENCY PREPAREDNESS MANAGER                ACTIVE
 ..        ...                             ...                   ...
 95      40306        COMPUTER SYSTEMS MANAGER                ACTIVE
 96      40199                  BUDGET ANALYST                ACTIVE
 97      40199                  BUDGET ANALYST                ACTIVE
 98      40199                  BUDGET ANALYST                CEASED
 99      40199                  BUDGET ANALYST                ACTIVE

     BaseSalary   PayBasis  RegularHours  RegularGrossPaid  OTHours  \
 0      86005.0  per Annum        1820.0          84698.21      0.0
 1      86005.0  per Annum        1820.0          84698.21      0.0
 2      86005.0  per Annum        1820.0          84698.21      0.0
 3      86005.0  per Annum        1820.0          87900.95      0.0
 4      86005.0  per Annum        1820.0          83976.54      0.0
 ..         ...        ...           ...               ...      ...
 95    195826.0  per Annum        1820.0         192850.37      0.0
 96    196950.0  per Annum        1820.0         192107.94      0.0
 97    185843.0  per Annum        1820.0         183019.14      0.0
 98    216431.0  per Annum           0.0              0.00      0.0
 99    176785.0  per Annum        1820.0         174098.86      0.0

     TotalOTPaid  TotalOtherPay
 0           0.0           0.00
 1           0.0           0.00
 2           0.0           0.00
 3           0.0       -3202.74
 4           0.0           0.00
 ..          ...            ...
 95          0.0           0.00
 96          0.0         500.00
 97          0.0           0.00
 98          0.0      180605.85
 99          0.0           0.00

 [100 rows x 19 columns])

## SAVING DATA TO CSV

In [16]:
# Renaming the dataframes for clarity
NYCPayroll_2020_clean = nycpayroll_2020_df
NYCPayroll_2021_clean = nycpayroll_2021_df
AGENCYMaster_clean = AgencyMaster_df
EMPLOYEEMaster_clean = EmpMaster_df
TITLEMaster_clean = TitleMaster_df

In [17]:
# Saving to CSV
NYCPayroll_2020_clean.to_csv(r'Clean_DataSet/NYCPayroll_2020_clean.csv', index=False)
NYCPayroll_2021_clean.to_csv(r'Clean_DataSet/NYCPayroll_2021_clean.csv', index=False)
AGENCYMaster_clean.to_csv(r'Clean_DataSet/AGENCYMaster_clean.csv', index=False)
EMPLOYEEMaster_clean.to_csv(r'Clean_DataSet/EMPLOYEEMaster_clean.csv', index=False)
TITLEMaster_clean.to_csv(r'Clean_DataSet/TITLEMaster_clean.csv', index=False)